
/* ##################  Contact page Styling    ############### */

.contact-form{
    background: #f7f7f7;
    padding: 5rem 0;
}

.form-wrapper .company-address{
    height: 760px;
    background: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* ################     FORM STYLING  ####################### */

.form-wrapper .form{
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
    float: right;
    width: 49%;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom:6px solid #ee4758;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form .form-group label::after{
    content: '* ';
    color: #e63946;
}

.form-wrapper .form .form-group textarea{
    width: 100%;
    height: 30rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}