/* #################################### Top Section  ############################ */

#top{
    flex-wrap: wrap;
    background: #009F6B;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle;
}

.left{
    float: left;
}

.right{
    float: right;
    width: auto;
}
.top-nav ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    width: auto;
    text-align: center;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.top-nav ul li span{
    font-size: 1.5rem;
}

#top::after{
    content: '';
    display: block;
    clear: both;
}

/* ############################### Header  ############################# */

.header{
    background: linear-gradient(to top,#d64c7f,#ee4758 50%);
    display: flex;
    flex-wrap: wrap;
}
.logo-img{
    margin: 0.5rem;
    height: 8rem;
    object-fit: cover;
}
.header-heading{
    flex: 1;
    padding-top: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* ###################################### Nav Bar  ################################ */

.navbar{
    background-color: #007FFF;
    padding: 0.5rem;
}

.nav-items{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
 
.nav-item{
    text-decoration: none;
}

/* ############# footer styling ################# */

.footer{
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
    color: #f4f4f4;
    padding: 2rem;
    text-align:center;
}

.social-media-links i{
    margin: 2rem;
}