/* #################################### Top Section  ############################ */

#top{
    flex-wrap: wrap;
    /* background: #009F6B; */
    background: #d64c7f 25%;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle;
}

.left{
    float: left;
}

.right{
    float: right;
    width: auto;
}
.top-nav ul li{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    width: auto;
    text-align: center;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.top-nav ul li span{
    font-size: 1.5rem;
    color: #b4b4b4;
}

#top::after{
    content: '';
    display: block;
    clear: both;
}

/* ############################### Header  ############################# */

.header{
    background: linear-gradient(to right bottom,#d64c7f 25%,#ee4758 50%,#007FFF 25%);
    display: flex;
    flex-wrap: wrap;
}
.logo-img{
    margin: 0.5rem;
    height: 8rem;
    object-fit: cover;
}
.header-heading{
    font-family: 'Aclonica', sans-serif;
    word-spacing: 0.25rem;
    letter-spacing: 0.15rem;
    flex: 1;
    padding-top: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* ###################################### Nav Bar  ################################ */

.navbar{
    background-color: #007FFF;
    padding: 0.5rem;
}

.nav-items{
    display: flex;
    justify-content:space-between;
    text-align: center;
}

.nav-items a:hover{
    text-decoration: underline;
    /* background-image: linear-gradient(0.5deg, #007FFF 0%, #001510 40%, #007FFF 0%); */
}
 
.nav-item{
    text-decoration: none;
}

/* ############# footer styling ################# */

.footer{
    /* background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%); */
    /* background: linear-gradient(to left top,#d64c7f 25%,#ee4758 50%,#007FFF 25%); */
    background: radial-gradient(circle,#d64c7f 25%,#ee4758 54%,#007FFF 95%);
    color: #f4f4f4;
    padding: 2rem;
    text-align:center;
}

.social-media-links i{
    margin: 2rem;
}