@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

/* ################## Utility Classes  #################### */


.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-grey{
    color: #555;
}

.text-black{
    color: #333;
}

.bg-dark{
    background-color: #263238;
}

.btn-primary{
    cursor: pointer;
    background-image: linear-gradient(to top, #00bf8f 0%, #001510 20%, #00bf8f 100%);
    color: #f4f4f4;
    font-size: 3rem;
    border-style: none;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 10px #00000057;
}

.btn-primary:hover{
    background-image: linear-gradient(to top, #00bf8f 0%, #001510 80%, #00bf8f 100%);
}