.main{
    background: #d9d9d9;
    padding: 5rem 0;
}

#form-view-data .student-details-left{
    display: flex;
    justify-content: space-between;
}
#form-view-data .student-details-left .section-label{
    margin: 0;
}
#form-view-data .student-details-left .year-label{
    margin: 0;
}

.databox-wrapper{
    background: #ffff;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 0.8rem;
}
.databox{
    margin: 2rem 0 0 0;
    height: 100vh;
    background: #f1f1f1;
    border-radius: 0.8rem;
}